*{margin:0;
    padding:0;
    box-sizing: border-box;}

body {background-color:aqua;
    font-family: Arial, sans-serif;
	border:5px solid black;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
      
}

h1{color:salmon;
    border:3px solid black;
background-color: rgb(0, 92, 92);
font-family: cursive;
font-weight: bold;
font-size: 15vh;
text-shadow: 3px 3px 3px black;
width: 90%;
margin: auto;
text-align: center;}


#controlsDiv {
    border:3px solid black;
    background-color: seagreen;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    max-height:50%;
    width:90%;
    margin:auto;
}

#controlsPara{text-align:center;
padding:3px;
color: yellow;
font-size: 2.5vh;}

.strong{
color:yellow;
font-size: 3.5vh;
padding:3px;
}

#gameInstructionsDiv{border: 3px solid black;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
        max-height:60%;
        width:90%;
        margin:auto;
        margin-bottom:3px;
        background-color: lightsalmon;}

#gameInstructionsPara{text-align:center;
    padding:3px;
}

.instructionText{color:rgb(0, 92, 92);
font-size: 4.5vh;}


h3{font-family: cursive;
background-color: rgb(0, 92, 92);
font-size: 5vh;
color:salmon;
border: 3px solid black;
text-align: center;
width:60%;
max-width:70vh;
    min-width:50vh;
margin:auto;}

#container {
    display: flex;
    justify-content: center;
    max-height: 100vh;
    border:5px solid blue;
    padding-top: 5vh;
    padding-bottom: 5vh;
    overflow: hidden;
}

#image-layer {
        max-width:80vw;
        max-height:90vh;
        margin: 0;
        padding: 0;
        background-size: cover;
        flex-shrink: 1;
  }
  
  #text-layer {
    border: 5px solid black;
    background-color: salmon;
    max-width: calc(100% - 80vw);
    max-height: 90vh;
    flex-shrink: 1;
    z-index: 1;
    text-align: center;
    padding: 0;
    margin-left: 2vh;
    margin-right: 1vh;

    
  }



#board{border:5px solid black;
        max-width:80vw;
        max-height:90vh;
        background-image: url(./salmonFlowBackground2.png);
        display:block;
        background-size: cover;
        position: relative;
    }

    #jump-icons{
        background-color: white;
        width: 100%;
        padding: 5px;
    }
    #jump-para{text-align:center;
    color:black;
    font-size: min(3vw, 6vh);
    background-color: white;
    }

    .jump-icon{
        background-image: url(./jumpIcon.svg);
        display: inline-block;
        background-size: cover;
        height: min(7vh);
  width: min(2.75vh);
        margin: 5px;
    }
    #level-text {
        font-size: min(3vw, 6vh);
        color: green;
        position: relative;
        padding:5px;
        width:100%;
        background-color: white;
      }

    #score-text {
        font-size: min(3vw, 6vh);
        color: green;
        position: relative;
        padding:5px;
        width:100%;
        background-color: white;
    }

    #game-over-text {
        background-color: white;
        font-size: min(3vw, 6vh);
        color: red;
        position: relative;
        margin-top: 2vh;
        padding:5px;
        height:18vh;
      }

      #button-div {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.2vh;
        margin-bottom: 1.2vh;

    }
    
    #mute-button {
        background-color: black;
        border: 2px white solid;
        font-size: min(1.5vw, 3vh);
        color: white;
        position: relative;
        flex: 1;
        margin: 2px auto;
        padding: 5px;
        max-height: 8vh;
    }
    
    #instructions-button {
        background-color: black;
        border: 2px white solid;
        font-size: min(1.5vw, 3vh);
        color: white;
        position: relative;
        flex: 1;
        margin: 2px auto;
        padding: 5px;
        max-height: 8vh;
    }

    #instructionsWindow{
        display: none;
        position: fixed;
        top: 5%;
        left: 10%;
        width: 80vw;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        margin: auto auto;
      }

      #instructionsDiv{
        position: relative;
        top: 5vh;
        margin:auto auto;
        background-color: rgba(255, 255, 255, 1);
        padding: 20px;
        width: 80%;
        height: 80%;
        text-align: center;
        border-radius: 5px;
      }

      #closeInstructionsButton {
        border: green solid 2px;
        background-color: salmon;
        color: black;
        font-size: large;
        margin-top: 10px;
        padding: 2px;
      }
      