* {
    box-sizing: border-box;
}

body, #instructionsDiv::-webkit-scrollbar {
    display: none;
}

body, html {background-color: rgba(0, 62, 62, 0.56);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display:flex; 
    flex-direction:column; 
    align-items:center;
    height:auto;
    width: 100vw;
    box-sizing: border-box;
   -ms-overflow-style: none;
   scrollbar-width: none;
   overflow-x: hidden;
}
html{
    border:2px solid salmon;
    box-shadow: inset 0 0 10px 0.1px lightsalmon; 
    border-radius: 15px;
}
body{
    border:2px solid salmon;
    box-shadow: inset 0 0 10px 0.1px lightsalmon; 
    border-radius: inherit;
}

#heading1{color:salmon;
font-family: 'Orbitron', sans-serif;
font-weight: bold;
font-size: 450%;
text-shadow: 10px 10px 10px black;
width: 100%;
margin: auto auto;
text-align: center;
position: relative;
}


#controlsDiv {
    border:3px solid black;
    background-color: rgb(0, 62, 62);
    border-radius: 15px;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    max-height:50%;
    width:90%;
    margin:auto;
}

#controlsPara{text-align:center;
padding:1px;
color: salmon;
font-size: 2vh;}

.strong{
color:white;
font-size: 2.5vh;
padding:1px;
}

h2{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 200%;
    color: rgb(103, 4, 4);
    text-shadow: 5px 5px 5px rgb(0, 62, 62);
    text-align: center;

}


.instructionText{color:rgb(0, 62, 62);
font-size: 3.5vh;}


#container {
    position: relative;
    width:90vw;
    height: 100vh;
    padding-bottom:0;
    margin:0;
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#text-layer-board-div {
    position: relative;
    background-color: black;
    width: 90%;
    height: 98%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
    border-radius: 2.5%;
}

#text-layer, #board {
    margin:1%;
}

#text-layer {
    border: 2px lightseagreen solid;
    border-radius: 10px;
    background-color: black;
    box-shadow: none;
    text-align: center;
    padding: 3px;
    height:95%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

#texts p {
    margin: 1px;
    padding: 0;
    font: 5vh 'Orbitron', sans-serif;
}

#texts {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    width: 100%;
    height: 75%;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
}

#board-div {
    border:2px lightseagreen solid;
    position: relative;
    width:75%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-start;
    height:95%;
    margin:0;
    border-radius: 15px;
}
#board {
    aspect-ratio: 390/480;
    height:100%;
    width:auto;
    position: relative;
    padding:0;
    margin: 0;
    border-radius: 10px;
    background-image: url(./salmonFlowBackgroundNewest.png);
    background-size: cover;
    box-shadow: none;
    border: 2px solid lightseagreen;
}



   
    
    #jump-para{text-align:center;
    color:lightseagreen;
    font-size: 160%;
    height: 10%;
    }

    #jump-icon-div {
        position: relative;
        display: flex;
        flex-direction: row;
        height:20%;
        width:100%;
        justify-content: center;
        align-items: center;
    }
    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: lightseagreen;
        visibility: hidden; 
        font: 5vh 'Orbitron', sans-serif ;}

    .jump-icon{
        position: relative;
    width: 100%;
    height: 0; 
    padding-bottom: 20%;
    overflow: hidden;
   
    }

    .jump-icon::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(./jumpIcon.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
  
    #level-text {
        color: lightseagreen;
        position: relative;
        padding:1px;
        height: 25%;
      }

    #score-text {
        color: lightseagreen;
        position: relative;
        padding:1px;
        height: 25%;
    }

    #game-over-text {
        color: red;
        position: relative;
        padding:1px;
        height: 25%;
        
      }

      #button-div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.2vh;
        margin-bottom: 1.2vh;
        padding: 3px;
        border: 2px lightseagreen solid;
        border-radius: 10px;
        height:25%;
        width: 100%;
    }
    
    #mute-button {
        background-color: salmon;
        border: 2px lightseagreen solid;
        color: rgb(0, 62, 62);
        border-radius: 10px;
        position: relative;
        flex: 1;
        margin: 2px auto;
        padding: 5px;
        height: 25%;
        margin: 1.5px;
        width: 95%;
        font-weight: bold;
        font: 2.75vh 'Orbitron', sans-serif;
        background-image: url('./soundPlayingIcon.svg');
        background-size: 17%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    
    #instructions-button {
        background-color: salmon;
        border: 2px lightseagreen solid;
        color: rgba(0, 128, 128, 100%);
        border-radius: 10px;
        position: relative;
        flex: 1;
        margin: 2px auto;
        padding: 5px;
        height: 25%;
        margin: 1.5px;
        width: 95%;
        font-weight: bold;
        font: 2.75vh 'Orbitron', sans-serif;
        background-image: url('./controlsAndInstructionsIcon.svg');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }

    #instructionsWindow{
        display: none;
        position: fixed;
        top: 2%;
        left: 10%;
        width: 80vw;
        height: 95%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        margin: auto auto;
        border-radius: 25px;
      }

      #instructionsDiv{
        position: relative;
        top: 2vh;
        margin:auto auto;
        background-color: lightsalmon;
        padding: 20px;
        width: 80%;
        height: 95%;
        text-align: center;
        border-radius: 25px;
        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
   scrollbar-width: none;
      }

      #closeInstructionsButton {
        border: 2px rgb(0, 62, 62) solid;
        background-color: salmon;
        color: rgb(0, 62, 62);
        font-family: 'Orbitron', sans-serif;
        font-size: 3.5vh;
        margin: 15px;
        padding: 2px;
        border-radius: 5px;
      }
      
      #game-over-text-div {
        position: absolute;
        top: 20%;
        align-items: center;
        justify-content: center;
        margin:auto auto;
        background-color: lightsalmon;
        padding: 20px;
        width: 50%;
        height: 60%;
        box-shadow: 0px 0px 30px 30px rgba(0, 62, 62, 0.56);
        text-align: center;
        border-radius: 25px;
        display: none;
      }

      #game-over-text2 {
        font-size: 3.5vh;
        font-weight: bold;
        font-family: 'Orbitron', sans-serif;
        color: rgb(103, 4, 4);
        position: relative;
        text-shadow: 6px 4px 5px rgba(0, 62, 62, 0.56);
      }

      #score-text2 {
        font-size: 3.5vh;
        font-weight: bold;
        font-family: 'Orbitron', sans-serif;
        color: rgb(0, 62, 62);
      }

      #highscore-text {
        font-size: 3.5vh;
        font-weight: bold;
        font-family: 'Orbitron', sans-serif;
        color: rgb(0, 62, 62);
      }

      #play-game-button {
        border: 2px rgb(0, 62, 62) solid;
        background-color: salmon;
        color: rgb(0, 62, 62);
        padding: 2px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
        font-weight: bold;
        font: 3vh 'Orbitron', sans-serif;

      }

      #play-game-button-label {
        color: grey;
        font-weight: bold;
        font: 3vh 'Orbitron', sans-serif;
      }

      #touchScreenDiv {
        border: 3px red solid;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vw;
       
        
      }

      #touchButtonTopRow{
        width:100%;
        height: 25vw;
        border: 3px rgb(0, 62, 62) solid;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        
      }

      #touchButtonBottomRow{
        border: 3px rgb(0, 62, 62) solid;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:15vw;
        margin-top: 20px;
      }

      #touchScreenLeft {
        background-image: url(./moveLeftIcon.svg);
        background-size: cover;
        background-position: center center;
        background-size: 80%;
        background-repeat: no-repeat;
        
        
        width: auto;
        height: 100%;
        grid-column: 1 / span 1;
      }

      
      #touchScreenJump {
        width: auto;
        height: 100%;
        grid-column: 2 / span 2;
      }
      
      #touchScreenRight {
      width: auto;
      height:100%;

        background-image: url(./moveRightIcon.svg);
        background-size: cover;
        background-position: center center;
        background-size: 80%;
        background-repeat: no-repeat;
       
       
        grid-column: 4 / span 1;
      }

      #touchScreenRestartGame {
        width: 50%;
        height:100%;
        background-image: url(./replayGameIcon.svg);
        background-size: cover;
        background-position: center center;
        background-size: 32%;
        background-repeat: no-repeat;
        color: rgba(0, 128, 128, 100%);
        text-align: left;
      }

      #touchScreenMaxSpeed {
        width: 50%;
        height:100%;
        background-image: url('./MaxSpeedIcon.svg');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
      }

      .touchScreenDirectionButtons {
        border: 2px salmon solid;
        border-radius: 10px;
  
        background-color: rgba(79, 174, 169, 0.656);
        color: white;
        font: 3.5vw 'Orbitron', sans-serif;
      }

      .touchScreenJumpButton{
        border: 2px salmon solid;
        border-radius: 10px;
        background-color: rgba(79, 174, 169, 0.656);
        color: white;
        font: 8vw 'Orbitron', sans-serif;
      }

      .touchScreenButtons2{
        border: 2px lightseagreen solid;
        border-radius: 10px;
        background-color: salmon;
        color: rgb(0, 62, 62);
        font: 5vw 'Orbitron', sans-serif;
      }