*{margin:0;
    padding:0;
    box-sizing: border-box;}

body {background-color:aqua;
    font-family: Arial, sans-serif;
	border:5px solid black;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
}

h1{color:salmon;
    border:3px solid black;
background-color: rgb(0, 92, 92);
font-family: cursive;
font-weight: bold;
font-size: 15vh;
text-shadow: 3px 3px 3px black;
width: 90%;
margin: auto;
text-align: center;}


#controlsDiv {
    border:3px solid black;
    background-color: seagreen;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    max-height:50%;
    width:90%;
    margin:auto;
}

#controlsPara{text-align:center;
padding:3px;
color: yellow;
font-size: 2.5vh;}

.strong{
color:yellow;
font-size: 3.5vh;
padding:3px;
}




.instructionText{color:rgb(0, 92, 92);
font-size: 4.5vh;}


h3{font-family: cursive;
background-color: rgb(0, 92, 92);
font-size: 5vh;
color:salmon;
border: 3px solid black;
text-align: center;
width:60%;
max-width:70vh;
    min-width:50vh;
margin:auto;}

#container {
    position: relative;
    width:100%;
    height:100vh;
    max-height: 100%;
    border: 5px solid blue;
    overflow: hidden;
    display : flex;
    flex-direction: row;
    
}

#text-layer-board-div{
    width:100vw;
    height:100vw;
    margin:auto auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#text-layer {
    position: relative;
    height: 98vh; 
    width: 15vw;
    border: 5px solid black;
    background-color: salmon;
    z-index: 1;
    text-align: center;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3px;
    
    
}


#board {
    position: relative;
    max-width: 780px;
    width: 40vw; 
    height:98vh;
    max-height: 960px;
    border: 5px solid black;
    background-image: url(./salmonFlowBackground2.png);
    background-size: cover;
    ;
}
    #jump-icons{
        background-color: white;
        padding: 5px;
    }
    #jump-para{text-align:center;
    color:green;
    font-size: min(3vw, 6vh);
    background-color: white;
    padding:3px;
    }

    .jump-icon{
        background-image: url(./jumpIcon.svg);
        display: inline-block;
        background-size: cover;
        height: min(7vh);
  width: min(2.75vh);
        margin: 5px;
        font-size: min(3vw, 6vh);
    }
    #level-text {
        font-size: min(3vw, 6vh);
        color: green;
        position: relative;
        background-color: white;
        padding:3px;
      }

    #score-text {
        font-size: min(3vw, 6vh);
        color: green;
        position: relative;
        background-color: white;
        padding:3px;
    }

    #game-over-text {
        background-color: white;
        font-size: min(3vw, 6vh);
        color: red;
        position: relative;
        padding:3px;
      }

      #button-div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.2vh;
        margin-bottom: 1.2vh;
        padding: 3px;
    }
    
    #mute-button {
        background-color: black;
        border: 2px white solid;
        font-size: min(1.5vw, 3vh);
        color: white;
        position: relative;
        flex: 1;
        margin: 2px auto;
        padding: 5px;
        max-height: 8vh;
        margin: 1.5px;
        width: 90%;
    }
    #start-button{
        background-color: black;
        border: 2px white solid;
        font-size: min(1.5vw, 3vh);
        color: white;
        position: relative;
        flex: 1;
        margin: 2px auto;
        padding: 5px;
        margin: 1.5px;
        width: 90%;
    }
    
    #instructions-button {
        background-color: black;
        border: 2px white solid;
        font-size: min(1.5vw, 3vh);
        color: white;
        position: relative;
        flex: 1;
        margin: 2px auto;
        padding: 5px;
        max-height: 8vh;
        margin: 1.5px;
        width: 90%;
    }

    #instructionsWindow{
        display: none;
        position: fixed;
        top: 5%;
        left: 10%;
        width: 80vw;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        margin: auto auto;
      }

      #instructionsDiv{
        position: relative;
        top: 5vh;
        margin:auto auto;
        background-color: rgba(255, 255, 255, 1);
        padding: 20px;
        width: 80%;
        height: 80%;
        text-align: center;
        border-radius: 5px;
      }

      #closeInstructionsButton {
        border: green solid 2px;
        background-color: salmon;
        color: black;
        font-size: large;
        margin-top: 10px;
        padding: 2px;
      }
      